[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-alembic = "*"
flask-migrate = "*"
black = "*"
isort = "*"
flake8 = "*"
flake8-pyproject = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
gunicorn = "*"# ->tomcat, WSGI->severlet
testcontainers-postgres = "*"

[dev-packages]

[requires]
python_version = "3.11"
