[tool.black]
exclude = '''
/(
    src/migrations/*
)/
'''

[tool.isort]
skip_glob = ["src/migrations/*"]

[tool.flake8]
exclude = ["src/migrations/"]
max-line-length = 88
ignore = ["E203", "W503"]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = [
    "-ra",
    "-s",
    "--cov=src",
    "--cov-branch",
    "--cov-report=term",
    "--cov-report=html",
]

testpaths = [
    "tests/*test.py",
]
pythonpath = " src"


[tool.coverage.run]
omit = [
    "src/migrations/*",
    "*/model/*",
    "*/__init__.py"
]

[tool.coverage.report]
fail_under = 80


